.main-bg { 
    background-color: #fff6ef; 
    color: #262628;
    font-family: 'Segoe UI', sans-serif;
}

#pdf-logo {
    width: 50vw;
    max-width: 380px;
}

.choose-btn {
    width: 25vw;
    min-width: 300px;
    display: block;
    margin: 20px auto;
    padding: 10px 2px;
    background-color: #c6c3f2;
    border: 2px solid #8e85d1;
    border-radius: 8px;
}
.choose-btn:hover {
    background-color: #b4abf4;
    border-color: #8b80de;
}

.submit-btn {
    margin: 5px 0px;
    width: 20%;
    padding: 5px;
    background-color: #c6c3f2;
    border: 2px solid #8e85d1;
    border-radius: 4px;
}
.submit-btn:hover {
    background-color: #b4abf4;
    border-color: #8b80de;
}

.file-label {
    margin: 5px 0px;
    font-size: larger;
    cursor: pointer;
}
input[type="file"] {
    margin: 5px 0px;
    cursor: pointer;
}
input[type="file"]::file-selector-button {
    margin: 5px 0px;
    margin-right: 15px;
    width: 40%;
    padding: 5px;
    background-color: #c6c3f2;
    border: 2px solid #8e85d1;
    border-radius: 4px;
    cursor: pointer;
}
input[type="file"]::file-selector-button:hover {
    background-color: #b4abf4;
    border-color: #8b80de;
}

.error-msg {
    background-color: #d86060;
    color: #fff6ef;
    padding: 10px;
    border: 1px solid #b14e4e;
    border-radius: 8px;
}
