{% extends 'pdftool/layout.html' %}
{% load static %}
{% block body %}


{% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">⨉</button>
    </div>
    {% endfor %}
  </div>
{% endif %}



<main class="container mt-3">
    <div class="row">
    <section id="logo-area" class="col-lg-6">
        <img id="pdf-logo" src="{% static 'pdftool/pdf-logo.png' %}" alt="Pdf logo" class="img-fluid mx-auto d-block">
    </section>

    <section id="interactive-area" class="col-lg-6 my-auto">
        
        <div id="upload-choice-area" class="container-fluid">
            <button id="upload-camera-btn" class="choose-btn">📸 Upload from Camera</button>
            <button id="upload-files-btn" class="choose-btn">📂 Select from device</button>
        </div>

        <section id="files-area" class="d-none sec-bg p-3 rounded">
            <form id="upload-files-form" action="{% url 'create_pdf' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file-input" class="file-label">Select files to upload:</label><br>
                <input type="file" id="file-input" name="files" multiple accept="image/*"><br>
                <input type="submit" value="Upload" class="submit-btn">
            </form>
        </section>

        <section id="camera-area" class="d-none border p-3 rounded">
            <form id="upload-camera-form" action="{% url 'create_pdf' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="camera-input" class="file-label">Use camera to take photos:</label><br>
                <input type="file" id="camera-input" name="files" accept="image/*" capture="environment" multiple>
                <input type="submit" value="Upload" class="submit-btn">
            </form>
        </section>
    
    </section>
    </div>
</main>

<script src="{% static 'pdftool/scripts.js' %}"></script>

{% endblock %}