.main-bg { 
    background-color: #fff7f5; 
    color: #262628;
    font-family: 'Segoe UI', sans-serif;
}
.sec-bg {
    background-color: #fefbfb;
    color: #262628;
    font-family: 'Segoe UI', sans-serif;
}

#files-area {
    padding: 5px 10px;
    border: 2px solid #ecdddd;
}

#pdf-logo {
    width: 50vw;
    max-width: 380px;
}

.btn-main {
    background-color: #cbc9f6 !important;
    border: 2px solid #8e85d1 !important;
}
.btn-main:hover,
.btn-main:focus,
.btn-main:active {
    background-color: #b8b5e9 !important;
    border-color: #7e76bc !important;
}

.btn-thin {
    background-color: #cbc9f6 !important;
    border: 1px solid #8e85d1 !important;
}
.btn-thin:hover,
.btn-thin:focus,
.btn-thin:active {
    background-color: #b8b5e9 !important;
    border-color: #7e76bc !important;
}

.btn-close {
    background-color: transparent !important;
    border: none !important;
    color: #2f2f32 !important;
    font-size: 0.8em;}


/* Edit Pdf page styles */
.pdf-title-input {
    max-width: 250px;
    border: 1px solid #ecdddd;
    background-color: #fefbfb;
    color: #262628;
    cursor: pointer;
    margin: 5px 10px;
    font-weight: 500;
}

.pdf-title-input:disabled {
    border: 1px solid #bebebe;
    background-color: #ffffff;
    color: #262628;
}

.edit-card {
    border: 1px solid #ecdddd;
    background-color: #fefbfb;
    color: #262628;
    border-radius: 6px;
}

.edit-card .card-title {
    font-size: 1.05em;
    font-weight: bold;
    margin-bottom: 15px;
}


@media (max-width: 991.98px) { /* For small screens (Bootstrap's lg breakpoint) */
    #edit-pdf-preview-area {
        text-align: center;
        margin-top: 20px;
    }
    .pdf-preview-embed-container {
        height: 50vh; /* Adjust height for smaller screens */
    }
    .edit-filter-btn {
        max-width: none; /* Allow filter buttons to fill width */
    }
}

.thumbnail-wrapper.selected {
    border: 3px solid #8e85d1 !important;
    box-shadow: 0 0 8px rgba(142, 133, 209, 0.6);
    transition: 0.2s ease-in-out;
}